.ddWrapper {
  width: 500px;
  border: none;
  color: #6E6E6E;
  position: absolute;
  left: 0; 
  right: 0;
  top: 50px; 
  margin-left: auto; 
  margin-right: auto; 
}

.ddHeader {
  max-width: 500px;
  display: flex; 
  background-color: #FFFFFF;
  border: solid #6E6E6E 2px;
  color: #6E6E6E;
  font-size: 30px;
  padding-left: 20px;
}

.ddHeader:hover {
  cursor: pointer;
}

input {
  border: 0;
  outline: 0;
  width: 400px;
  font-size: 30px;
  color: #6E6E6E;
}

input:focus {
  outline:none!important;
}

.ddHeaderTitle {
  width: 90%;
  height: 100%;
  display: flex;
  
  line-height: 100%;
}

.ddHeaderArrow {
  /* width: 10%; */
  display: flex;
  justify-content: center;
  right: 35px; 
}

.ddList {
  width: 496px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border: solid #6E6E6E 2px;
  border-top: none;
  overflow: scroll;
  white-space: nowrap;
}

.ddListItem, .ddListItemState, .ddListItemCounty {
  background-color: #FFFFFF;
  border: none;
  font-size: 30px;
  padding: 10px 20px;
  display: flex;
  color: #6E6E6E;
}

.ddListItemState {
  padding: 10px 40px;
}

.ddListItemCounty {
  padding: 10px 60px;
}

.ddListItemCounty:hover {
  background-color: #E8F1F7;
  cursor: pointer;
}

.divider {
  font-size: 50px;
  font-weight: 100;
  padding: 0 5px;
  padding-bottom: 5px;
  margin-right: 5px;
}