.button {
  
}

.ddWrapper {
  width: 500px;
  border: none;
  color: #6E6E6E;
}

.ddHeader {
  width: 500px;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border: solid #6E6E6E 2px;
  color: #6E6E6E;
  font-size: 30px;
  padding: 0 20px;
}

.ddHeader:hover {
  cursor: pointer;
}

.ddHeaderTitle {
  width: 90%;
  height: 100%;
  display: flex;
  /* border: solid white 2px; */
  line-height: 100%;
}

.ddHeaderArrow {
  width: 10%;
  display: flex;
  justify-content: center;
  /* border: solid white 2px; */
}

.ddList {
  width: 496px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border: solid #6E6E6E 2px;
  border-top: none;
  overflow: scroll;
  white-space: nowrap;
}

.ddListItem, .ddListItemState, .ddListItemCounty {
  background-color: #FFFFFF;
  border: none;
  font-size: 30px;
  padding: 10px 20px;
  display: flex;
  color: #6E6E6E;
}

.ddListItemState {
  padding: 10px 40px;
}

.ddListItemCounty {
  padding: 10px 60px;
}

.ddListItemCounty:hover {
  background-color: #E8F1F7;
  cursor: pointer;
}

.divider {
  font-size: 30px;
  font-weight: 100;
}